.friend-list {
  padding-top: 5mm;
  padding-bottom: 5mm;
}

.friend-list li {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  max-width: 9cm;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5mm;
  background-color: white;
}

.friend-list li:not(:last-child) {
  margin-bottom: 5mm;
}

.friend-list .avatar {
  width: 35mm;
  height: 35mm;
  padding-top: 3mm;
  padding-bottom: 3mm;
}

.status {
  width: 1cm;
  height: 1cm;
  border-radius: 5mm;
  background-color: red;
}

.status.online {
  background-color: green;
}
