img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.description {
  text-align: center;
}

.avatar {
  width: 300px;
  height: 400px;
}

.stats {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.stats li {
  display: flex;
  flex-direction: column;
}
