.transaction-history {
  max-width: 27cm;
  margin: 0 auto;
}

thead {
  background-color: aqua;
}

th,
td {
  width: 9cm;
  padding-top: 6mm;
  padding-bottom: 6mm;
}

tbody {
  background-color: white;
}

tbody tr:nth-child(2n) {
  background-color: darkgray;
}
